.more-awesome {
	text-align: center;
	background-color: white;
	.each-moment {
		position: relative;
		width: 25%;
		float: left;
		overflow: hidden;		
		&::after {
			content: "";
			display: block;
			background: rgb(51, 51, 51);
			opacity: 0.3;
			position: absolute;
			@include transition(all 0.2s ease-out);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		&:hover {
			z-index: 10;
			p {
				bottom: 0;
			}
			&::after {
				opacity: 0;
			}
		}		
		@include transition(all 0.3s ease-in-out);
		img {
			width: 100%;
		}
		p {
			position: absolute;
			width: 100%;
			bottom: -60px;
			padding: 5px 0;
			background-color: rgba(0,0,0,0.6);
			color: white;
			@include transition(all 0.3s ease-in-out);			
		}

	}
}