.old-ie {
	.hero-img .brief-introduction ul li {
		background-color: #ccc;
	}
	.live-dance .slide-item p,
	.more-awesome .each-moment p,
	.new-year #new-year-slide .caption {
		background-color: #666;
	}
	.hero-img-layer {
		display: none;
	}
	h1 {
		color: rgb(146, 8, 7);
	}
	.hero-img .slogon p {
		color: rgb(146, 8, 7);	
	}
	.hero-img {
		background-position: top;
	}
	.introduction .story .number {
		background-color: rgb(146, 8, 7);
	}
}