.single-activities {
	background: white;
	padding: 5% 0;
	text-align: center;
	h2 {
		margin-bottom: 3%;
	}
	.news {
		text-align: left;
		.each-news {
			position: relative;
			.left-part {
				width: 50%;
				float: left;
				margin-right: 2%;
				img {
					margin-top: 8px;
					width: 100%;
				}
				
			}
			.content {
				float: left;
				width: 48%;
				min-height: 380px;
				padding-top: 20px;
				.title {
					font-size: 1.4em;
				}
			}
			p {
				margin: 0.5em 0;
			}
			li {
				clear: both;
				line-height: 1.6em;
			}
			.read-more {
				margin-top: -8px;
			}
		}
	}
}
@media screen and (max-width: 850px) {
	.single-activities .news .each-news{
		.left-part, .content {
			width: 80%;
			float: none;
			margin: 0 auto;
			min-height: 100px;
		}
	} 

}
@media screen and (max-width: 850px) {
	.single-activities .news .each-news{
		.left-part, .content {
			width: 100%;
		}
	}
}