$gray: #ccc;
$font-color: #333;
$light-gray: #666;
$theme-green: #30CF8A;
$theme-red: rgb(146, 8, 7);
$theme-purple: #6D52AD;
$theme-yellow: #E89C4A;
$twitter: #5481AB;
$dark-twitter: #5582AA;
@import "compass/reset";
@import "compass/css3";
@import "../icon";
@import "slide";
@mixin circle($bg-color){
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: $bg-color;
	margin-right: 6px;
}
@mixin circle($size){
	display: inline-block;
	width: $size;
	height: $size;
	line-height: $size;
	text-align: center;
	border-radius: 100%;
}


body {
	font-size: 14px;
	color: $font-color;
	background-color: #e1e1e1;
	font-family: monospace;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.4em;
}
p {
	line-height: 1.4em;
}
.pull-right {
	float: right;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
header {
	margin-top: 10px;
	a.logo {
		display: inline-block;
		width: 160px;
		height: 70px;
		background: url("../images/logo.png") no-repeat;
		background-size: cover;
	}
	nav {
		float: right;
		li {
			float: left;
		}
		ul li a{
			text-decoration: none;
			padding: 14px 3em;
			display: inline-block;
			height: 40px;
			text-align: center;
			&.active {
				border-bottom: 4px solid $theme-red;
			}
			&:hover {
				border-bottom: 4px solid $theme-red;	
			}
			span {
				display: block;
				&.chinese {
					font-size: 1.2em;
					color: $theme-red;
				}
				&.english {
					margin-top: 3px;
					color: $light-gray;
					
				}
			}
		}
	}
}
.hero-img {
	position: relative;
	height: 580px;
	background: url("../images/balei1.png") no-repeat bottom;
	background-size: 100%;
	color: white;
	.hero-img-layer {
		position: absolute;
		z-index: 1px;
		top: 0;
		height: 580px;
		width: 100%;
		background-color: #222;
		opacity: 0.4;
	}
	.slogon {
		position: relative;
		padding-top: 12%;
		z-index: 3px;
		width: 50%;
		margin: 0 auto;
		p {
			margin-top: 10px;
			font-size: 1.2em;
			color: #eee;
		}
	}
	.brief-introduction {
		position: relative;
		z-index: 3px;
		margin-top: 10%;
		ul li {
			padding: 1em 2em;
			display: inline-block;
			font-size: 1.4em;
			background-color: rgba(230, 230, 230, 0.7);
			.number {
				color: $theme-red;
				font-size: 2em;
			}
			
		}
	}
}
.introduction {
	background-color: white;
	padding: 5% 0;
	text-align: center;
	h2 {
		margin: 2em 0;
	}
	.story {
		height: 250px;
		float: left;
		width: 31.333%;
		margin: 0 1%;
		.title {
			font-weight: bold;
			font-size: 1.2em;
			margin: 1em 0;
		}
		.number {
			@include circle(50px);
			border: 1px solid $gray;
			font-size: 1.5em;
			color: white;
		}
		&:nth-child(2) .number {
			background-color: $twitter;
		}		
		&:nth-child(3) .number {
			background-color: $theme-yellow;
		}
		&:nth-child(4) .number {
			background-color: $theme-green;
		}
		&:nth-child(5) .number {
			background-color: $theme-purple;
		}
		&:nth-child(6) .number {
			background-color: $theme-red;
		}		
		&:nth-child(7) .number {
			background-color: $dark-twitter;
		}
		i {
			display: block;
			font-size: 3em;
			margin: 10px 0;
			color: $theme-red;
		}
	}
}
.after-graduate {
	background: white;
	padding: 10% 0;
	text-align: center;
	h2 {
		margin-bottom: 3%;
	}
	hr {
		width: 40%;
		color: $light-gray;
		margin: 5% auto;
	}
	.news {
		text-align: left;
		.each-news {
			position: relative;
			.left-part {
				position: absolute;
				width: 52%;
				left: 0;
				img {
					margin-top: 8px;
					width: 100%;
				}
				
			}
			.content {
				min-height: 380px;
				margin-left: 53%;
				padding-top: 20px;
				.title {
					font-size: 1.4em;
				}
			}
			p {
				margin: 0.5em 0;
			}
			li {
				clear: both;
				line-height: 1.6em;
			}
			.read-more {
				margin-top: -8px;
			}
		}
	}
}
.live-dance {
	background: white;
	padding-top: 5%; 
	text-align: center;
	h2 {
		margin-bottom: 4%;
	}
	.slide-item {
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		p {
			font-size: 1.2em;
			padding: 2%;
			background-color: rgba(0, 0, 0, 0.4);
			color: white;
		}
	}
	.slide1 {
		background-image: url("../images/dance-show1.JPG");
	}
	.slide2 {
		background-image: url("../images/dance-show2.JPG");
	}
	.slide3 {
		background-image: url("../images/dance-show3.JPG");
	}
	.slide4 {
		background-image: url("../images/dance-show4.JPG");
	}
	.slide5 {
		background-image: url("../images/dance-show5.JPG");
	}
	.slide6 {
		background-image: url("../images/dance-show6.JPG");
	}					
	.slide7 {
		background-image: url("../images/dance-show7.JPG");
	}
	img {
		max-width: 100%;
	}
}