@mixin circle($size){
	display: inline-block;
	width: $size;
	height: $size;
	line-height: $size;
	text-align: center;
	border-radius: 100%;
}
@mixin transtion($type, $time, $effect){
	-moz-transition: $type $time $effect;
	-webkit-transition: $type $time $effect;
	-o-transition: $type $time $effect;
	transition: $type $time $effect;	
}
$gray: #ccc;
$font-color: #333;
$light-gray: #666;
$theme-green: #30CF8A;
$theme-red: rgb(146, 8, 7);
$theme-purple: #6D52AD;
$theme-yellow: #E89C4A;
$twitter: #5481AB;
$dark-twitter: #5582AA;
@import "compass/reset";
@import "compass/css3";
@import "../icon";
@import "slide";
@import "single";
@import "awesome";
@import "new-year";
@import "ie";

body {
	font-size: 14px;
	color: $font-color;
	background-color: #e1e1e1;
	font-family: monospace;
}
 a {
 	color: $theme-red;
 	text-decoration: none;
 }
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
	padding-top: 5%;
}
h3 {
	font-size: 1.4em;
}
p {
	line-height: 1.4em;
}
hr {
	width: 40%;
	border-top: none;
	border-bottom: 1px solid $gray;
	margin: 5% auto;
}
.big-screen {
	display: block;
}
.small-screen {
	display: block;
}


.pull-right {
	float: right;
}
.container {
	width: 80%;
	margin: 0 auto;
}
@media screen and (max-width: 1000px) {
	.container {
		width: 90%;
	}
}
.text-center {
	text-align: center;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
header {
	height: 83px;
	margin-top: 10px;
	a.logo {
		width: 20%;
		display: inline-block;
		img {
			width: 100%;
			min-width: 160px;
			max-width: 170px;
		}
	}
	nav {
		width: 70%;
		float: right;
		margin-top: 29px;
		li {
			float: left;
			width: 20%;
		}
		ul li a{
			display: block;
			text-decoration: none;
			height: 50px;
			text-align: center;
			&.active {
				border-bottom: 4px solid $theme-red;
			}
			&:hover {
				border-bottom: 4px solid $theme-red;	
			}
			span {
				display: block;
				&.chinese {
					font-size: 1.2em;
					color: $theme-red;
				}
				&.english {
					margin-top: 3px;
					color: $light-gray;
					
				}
			}
		}
	}
}
.hero-img {
	position: relative;
	height: 580px;
	background: url("../images/balei1.jpg") no-repeat bottom;
	background-size: 100%;
	color: white;
	.hero-img-layer {
		position: absolute;
		z-index: 1px;
		top: 0;
		height: 580px;
		width: 100%;
		background-color: #222;
		opacity: 0.4;
	}
	.slogon {
		position: relative;
		padding-top: 12%;
		z-index: 3px;
		width: 50%;
		margin: 0 auto;
		p {
			margin-top: 10px;
			font-size: 1.2em;
			color: #eee;
		}
	}
	.brief-introduction {
		position: relative;
		z-index: 3px;
		margin-top: 10%;
		ul li {
			padding: 1em 2em;
			display: inline-block;
			font-size: 1.4em;
			background-color: rgba(230, 230, 230, 0.7);
			.number {
				color: $theme-red;
				font-size: 2em;
			}
			
		}
	}
}
.introduction {
	background-color: white;
	padding-top: 5%;
	text-align: center;
	h2 {
		margin-bottom: 2em;
	}
	.story {
		height: 300px;
		float: left;
		width: 29.333%;
		margin: 0 2%;
		.title {
			font-weight: bold;
			font-size: 1.2em;
			margin: 1em 0;
		}
		.number {
			@include circle(50px);
			border: 1px solid $gray;
			font-size: 1.5em;
			color: white;
		}	
		&:nth-child(3) .number {
			background-color: $theme-yellow;
		}
		&:nth-child(4) .number {
			background-color: $theme-green;
		}
		&:nth-child(5) .number {
			background-color: $theme-purple;
		}
		&:nth-child(6) .number {
			background-color: $theme-red;
		}		
		&:nth-child(7) .number {
			background-color: $dark-twitter;
		}
		&:nth-child(8) .number {
			background-color: $theme-yellow;
		}
		i {
			display: block;
			font-size: 3em;
			margin: 10px 0;
			color: $theme-red;
		}
	}
}


.live-dance {
	background: white;
	text-align: center;
	h2 {
		margin-bottom: 4%;
	}
	.slide-item {
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		p {
			font-size: 1.2em;
			padding: 2%;
			background-color: rgba(0, 0, 0, 0.4);
			color: white;
		}
	}
	.slide1 {
		background-image: url("../images/dance-show1.JPG");
	}
	.slide2 {
		background-image: url("../images/dance-show2.JPG");
	}
	.slide3 {
		background-image: url("../images/dance-show3.JPG");
	}
	.slide4 {
		background-image: url("../images/recruit.jpg");
	}	
	.slide5 {
		background-image: url("../images/all-member.jpg");
	}	
	.slide6 {
		background-image: url("../images/dance-show4.JPG");
	}
	.slide8 {
		background-image: url("../images/dance-show6.JPG");
	}					
	.slide9 {
		background-image: url("../images/dance-show7.JPG");
	}
	.slide10 {
		background-image: url("../images/member-list.png");
		background-position: top;
		p {
			background-color: rgba(0, 0, 0, 0.8);
			a {
				text-decoration: underline;
				color: white;
			}
		}
	}	
	img {
		max-width: 100%;
	}
}


.about-me {
	padding: 5% 0; 
	text-align: center;
	background-color: #EEF8FD;
	.avators {
		li {
			display: inline-block;
			margin: 0 2%;
			img {
				@include circle(100px);
				border: 1px solid #ccc;
				padding: 3px;	
				@include transition(all 0.3s ease-in-out);
				&:hover {
					transform: scale(1.5);
				}			
			}			
		}
	}
	.myself {
		width: 70%;
		margin: 20px auto;
		h3 {
			margin: 5% 0 3% 0;
		}
		p {
			line-height: 2em;
		}
	}
	.contact-me img{
		width: 150px;
		border: 1px solid #ccc;
	}
	.contact {
		display: inline-block;
		margin: 0 2%;
		p {
			color: #555;
		}
	}
}
.interview {
	text-align: center;
	background-color: white;
	padding: 5% 0;
	.member {
		font-size: 16px;
		i.icon-quotes-left {
			color: #ccc;
			font-size: 1.4em;
			display: block;
			margin-bottom: 14px;
		}
		.title {
			color: #666;
			margin: 6px 0;
		}
		img {
			@include circle(100px);
			border: 1px solid #ccc;
			padding: 3px;	
			margin-bottom: 20px;
			@include transition(all 0.3s ease-in-out);
			&:hover {
				transform: scale(1.5);
			}
		}
		hr {
			width: 2%;
			margin: 24px auto;
			border-color: #ccc;
			border-top: none;
		}
	}

}
.special-thanks {
	background: $theme-red;
	color: white;
	padding: 50px 0;
	text-align: center;
	font-size: 1.8em;	
}
footer {
	padding: 20px;
	color: $gray;
	background-color: #333;
	text-align: center;
}

@import "responsive";
