/* line 5, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p484/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-21kzcs");
  src: url("fonts/icomoon.eot?#iefix-21kzcs") format("embedded-opentype"), url("fonts/icomoon.woff?-21kzcs") format("woff"), url("fonts/icomoon.ttf?-21kzcs") format("truetype"), url("fonts/icomoon.svg?-21kzcs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../icon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../icon.scss */
.icon-pencil:before {
  content: "\e601";
}

/* line 29, ../icon.scss */
.icon-quill:before {
  content: "\e60c";
}

/* line 32, ../icon.scss */
.icon-library:before {
  content: "\e604";
}

/* line 35, ../icon.scss */
.icon-tag:before {
  content: "\e605";
}

/* line 38, ../icon.scss */
.icon-address-book:before {
  content: "\e600";
}

/* line 41, ../icon.scss */
.icon-bubbles:before {
  content: "\e616";
}

/* line 44, ../icon.scss */
.icon-user:before {
  content: "\e606";
}

/* line 47, ../icon.scss */
.icon-users:before {
  content: "\e602";
}

/* line 50, ../icon.scss */
.icon-quotes-left:before {
  content: "\e603";
}

/* line 53, ../icon.scss */
.icon-search:before {
  content: "\e60f";
}

/* line 56, ../icon.scss */
.icon-expand:before {
  content: "\e610";
}

/* line 59, ../icon.scss */
.icon-star:before {
  content: "\e611";
}

/* line 62, ../icon.scss */
.icon-thumbs-up:before {
  content: "\e607";
}

/* line 65, ../icon.scss */
.icon-checkmark:before {
  content: "\e608";
}

/* line 68, ../icon.scss */
.icon-plus:before {
  content: "\e615";
}

/* line 71, ../icon.scss */
.icon-loop:before {
  content: "\e609";
}

/* line 74, ../icon.scss */
.icon-facebook:before {
  content: "\e60a";
}

/* line 77, ../icon.scss */
.icon-twitter:before {
  content: "\e60b";
}

/* line 80, ../icon.scss */
.icon-github:before {
  content: "\e60d";
}

/* line 83, ../icon.scss */
.icon-skype:before {
  content: "\e617";
}

/* line 86, ../icon.scss */
.icon-forward:before {
  content: "\e612";
}

/* line 89, ../icon.scss */
.icon-link:before {
  content: "\e613";
}

/* line 92, ../icon.scss */
.icon-ellipsis:before {
  content: "\e614";
}

/* line 95, ../icon.scss */
.icon-sina-weibo:before {
  content: "\e60e";
}

/* line 1, ../sass/slide.scss */
#live-dance-show,
#new-year-slide {
  position: relative;
}

/* line 5, ../sass/slide.scss */
.slidesjs-navigation {
  background: url("../images/slide-nav.png") no-repeat;
  position: absolute;
  width: 65px;
  height: 114px;
  top: 40%;
  text-indent: -9999px;
  z-index: 10;
}
/* line 13, ../sass/slide.scss */
.slidesjs-navigation:hover {
  color: #444;
  text-indent: -9999px;
}

/* line 19, ../sass/slide.scss */
.slidesjs-next {
  right: 0;
  background-position: -85px -9px;
}
/* line 22, ../sass/slide.scss */
.slidesjs-next:hover {
  background-position: -245px -9px;
}

/* line 26, ../sass/slide.scss */
.slidesjs-previous {
  left: 0;
  background-position: -10px -9px;
}
/* line 29, ../sass/slide.scss */
.slidesjs-previous:hover {
  background-position: -170px -9px;
}

/* line 34, ../sass/slide.scss */
.slidesjs-pagination {
  position: absolute;
  bottom: 7%;
  z-index: 10;
  left: 40%;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

/* line 43, ../sass/slide.scss */
.slidesjs-pagination li {
  display: inline-block;
  margin: 0 2px;
}

/* line 48, ../sass/slide.scss */
.slidesjs-pagination li a {
  display: block;
  width: 13px;
  text-decoration: none;
  background-color: #efefef;
  padding: 2px;
  color: #333;
}
/* line 55, ../sass/slide.scss */
.slidesjs-pagination li a.active {
  background-color: #920807;
  color: white;
}
/* line 58, ../sass/slide.scss */
.slidesjs-pagination li a.active:hover {
  color: white;
}
/* line 62, ../sass/slide.scss */
.slidesjs-pagination li a:hover {
  color: #920807;
}

/* line 67, ../sass/slide.scss */
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}

/* line 72, ../sass/slide.scss */
.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
}

/* line 76, ../sass/slide.scss */
.navbar {
  overflow: hidden;
}

/* line 84, ../sass/slide.scss */
.new-year .slidesjs-navigation {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  top: 30%;
}
/* line 89, ../sass/slide.scss */
.new-year .slidesjs-pagination {
  transform: scale(1);
  -webkit-transform: scale(1);
  left: 20%;
}

/* line 1, ../sass/single.scss */
.single-activities {
  background: white;
  padding: 5% 0;
  text-align: center;
}
/* line 5, ../sass/single.scss */
.single-activities h2 {
  margin-bottom: 3%;
}
/* line 8, ../sass/single.scss */
.single-activities .news {
  text-align: left;
}
/* line 10, ../sass/single.scss */
.single-activities .news .each-news {
  position: relative;
}
/* line 12, ../sass/single.scss */
.single-activities .news .each-news .left-part {
  width: 50%;
  float: left;
  margin-right: 2%;
}
/* line 16, ../sass/single.scss */
.single-activities .news .each-news .left-part img {
  margin-top: 8px;
  width: 100%;
}
/* line 22, ../sass/single.scss */
.single-activities .news .each-news .content {
  float: left;
  width: 48%;
  min-height: 380px;
  padding-top: 20px;
}
/* line 27, ../sass/single.scss */
.single-activities .news .each-news .content .title {
  font-size: 1.4em;
}
/* line 31, ../sass/single.scss */
.single-activities .news .each-news p {
  margin: 0.5em 0;
}
/* line 34, ../sass/single.scss */
.single-activities .news .each-news li {
  clear: both;
  line-height: 1.6em;
}
/* line 38, ../sass/single.scss */
.single-activities .news .each-news .read-more {
  margin-top: -8px;
}

@media screen and (max-width: 850px) {
  /* line 46, ../sass/single.scss */
  .single-activities .news .each-news .left-part, .single-activities .news .each-news .content {
    width: 80%;
    float: none;
    margin: 0 auto;
    min-height: 100px;
  }
}
@media screen and (max-width: 850px) {
  /* line 57, ../sass/single.scss */
  .single-activities .news .each-news .left-part, .single-activities .news .each-news .content {
    width: 100%;
  }
}
/* line 33, ../sass/style.scss */
body {
  font-size: 14px;
  color: #333;
  background-color: #e1e1e1;
  font-family: monospace;
}

/* line 39, ../sass/style.scss */
a {
  color: #920807;
  text-decoration: none;
}

/* line 43, ../sass/style.scss */
h1 {
  font-size: 3em;
}

/* line 46, ../sass/style.scss */
h2 {
  font-size: 2em;
  padding-top: 5%;
}

/* line 50, ../sass/style.scss */
h3 {
  font-size: 1.4em;
}

/* line 53, ../sass/style.scss */
p {
  line-height: 1.4em;
}

/* line 56, ../sass/style.scss */
hr {
  width: 40%;
  border-top: none;
  border-bottom: 1px solid #ccc;
  margin: 5% auto;
}

/* line 62, ../sass/style.scss */
.big-screen {
  display: block;
}

/* line 65, ../sass/style.scss */
.small-screen {
  display: block;
}

/* line 70, ../sass/style.scss */
.pull-right {
  float: right;
}

/* line 73, ../sass/style.scss */
.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  /* line 78, ../sass/style.scss */
  .container {
    width: 90%;
  }
}
/* line 82, ../sass/style.scss */
.text-center {
  text-align: center;
}

/* line 85, ../sass/style.scss */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* line 90, ../sass/style.scss */
header {
  height: 83px;
  margin-top: 10px;
}
/* line 93, ../sass/style.scss */
header a.logo {
  width: 20%;
  display: inline-block;
}
/* line 96, ../sass/style.scss */
header a.logo img {
  width: 100%;
  min-width: 160px;
  max-width: 170px;
}
/* line 102, ../sass/style.scss */
header nav {
  width: 70%;
  float: right;
  margin-top: 29px;
}
/* line 106, ../sass/style.scss */
header nav li {
  float: left;
  width: 20%;
}
/* line 110, ../sass/style.scss */
header nav ul li a {
  display: block;
  text-decoration: none;
  height: 50px;
  text-align: center;
}
/* line 115, ../sass/style.scss */
header nav ul li a.active {
  border-bottom: 4px solid #920807;
}
/* line 118, ../sass/style.scss */
header nav ul li a:hover {
  border-bottom: 4px solid #920807;
}
/* line 121, ../sass/style.scss */
header nav ul li a span {
  display: block;
}
/* line 123, ../sass/style.scss */
header nav ul li a span.chinese {
  font-size: 1.2em;
  color: #920807;
}
/* line 127, ../sass/style.scss */
header nav ul li a span.english {
  margin-top: 3px;
  color: #666;
}

/* line 136, ../sass/style.scss */
.hero-img {
  position: relative;
  height: 580px;
  background: url("../images/balei1.png") no-repeat bottom;
  background-size: 100%;
  color: white;
}
/* line 142, ../sass/style.scss */
.hero-img .hero-img-layer {
  position: absolute;
  z-index: 1px;
  top: 0;
  height: 580px;
  width: 100%;
  background-color: #222;
  opacity: 0.4;
}
/* line 151, ../sass/style.scss */
.hero-img .slogon {
  position: relative;
  padding-top: 12%;
  z-index: 3px;
  width: 50%;
  margin: 0 auto;
}
/* line 157, ../sass/style.scss */
.hero-img .slogon p {
  margin-top: 10px;
  font-size: 1.2em;
  color: #eee;
}
/* line 163, ../sass/style.scss */
.hero-img .brief-introduction {
  position: relative;
  z-index: 3px;
  margin-top: 10%;
}
/* line 167, ../sass/style.scss */
.hero-img .brief-introduction ul li {
  padding: 1em 2em;
  display: inline-block;
  font-size: 1.4em;
  background-color: rgba(230, 230, 230, 0.7);
}
/* line 172, ../sass/style.scss */
.hero-img .brief-introduction ul li .number {
  color: #920807;
  font-size: 2em;
}

/* line 180, ../sass/style.scss */
.introduction {
  background-color: white;
  padding-top: 5%;
  text-align: center;
}
/* line 184, ../sass/style.scss */
.introduction h2 {
  margin-bottom: 2em;
}
/* line 187, ../sass/style.scss */
.introduction .story {
  height: 300px;
  float: left;
  width: 29.333%;
  margin: 0 2%;
}
/* line 192, ../sass/style.scss */
.introduction .story .title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 1em 0;
}
/* line 197, ../sass/style.scss */
.introduction .story .number {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #ccc;
  font-size: 1.5em;
  color: white;
}
/* line 203, ../sass/style.scss */
.introduction .story:nth-child(3) .number {
  background-color: #E89C4A;
}
/* line 206, ../sass/style.scss */
.introduction .story:nth-child(4) .number {
  background-color: #30CF8A;
}
/* line 209, ../sass/style.scss */
.introduction .story:nth-child(5) .number {
  background-color: #6D52AD;
}
/* line 212, ../sass/style.scss */
.introduction .story:nth-child(6) .number {
  background-color: #920807;
}
/* line 215, ../sass/style.scss */
.introduction .story:nth-child(7) .number {
  background-color: #5582AA;
}
/* line 218, ../sass/style.scss */
.introduction .story:nth-child(8) .number {
  background-color: #E89C4A;
}
/* line 221, ../sass/style.scss */
.introduction .story i {
  display: block;
  font-size: 3em;
  margin: 10px 0;
  color: #920807;
}

/* line 231, ../sass/style.scss */
.live-dance {
  background: white;
  text-align: center;
}
/* line 234, ../sass/style.scss */
.live-dance h2 {
  margin-bottom: 4%;
}
/* line 237, ../sass/style.scss */
.live-dance .slide-item {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
/* line 242, ../sass/style.scss */
.live-dance .slide-item p {
  font-size: 1.2em;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
/* line 249, ../sass/style.scss */
.live-dance .slide1 {
  background-image: url("../images/dance-show1.JPG");
}
/* line 252, ../sass/style.scss */
.live-dance .slide2 {
  background-image: url("../images/dance-show2.JPG");
}
/* line 255, ../sass/style.scss */
.live-dance .slide3 {
  background-image: url("../images/dance-show3.JPG");
}
/* line 258, ../sass/style.scss */
.live-dance .slide4 {
  background-image: url("../images/recruit.jpg");
}
/* line 261, ../sass/style.scss */
.live-dance .slide5 {
  background-image: url("../images/all-member.jpg");
}
/* line 264, ../sass/style.scss */
.live-dance .slide6 {
  background-image: url("../images/dance-show4.JPG");
}
/* line 267, ../sass/style.scss */
.live-dance .slide8 {
  background-image: url("../images/dance-show6.JPG");
}
/* line 270, ../sass/style.scss */
.live-dance .slide9 {
  background-image: url("../images/dance-show7.JPG");
}
/* line 273, ../sass/style.scss */
.live-dance .slide10 {
  background-image: url("../images/member-list.png");
  background-position: top;
}
/* line 276, ../sass/style.scss */
.live-dance .slide10 p {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 278, ../sass/style.scss */
.live-dance .slide10 p a {
  text-decoration: underline;
  color: white;
}
/* line 284, ../sass/style.scss */
.live-dance img {
  max-width: 100%;
}

/* line 289, ../sass/style.scss */
.new-year {
  background-color: white;
  padding-bottom: 10%;
}
/* line 292, ../sass/style.scss */
.new-year #new-year-slide {
  width: 50%;
  float: left;
}
/* line 295, ../sass/style.scss */
.new-year #new-year-slide img {
  width: 100%;
}
/* line 298, ../sass/style.scss */
.new-year #new-year-slide .caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 8px 2%;
  width: 96%;
}
/* line 308, ../sass/style.scss */
.new-year .description {
  width: 48%;
  float: left;
  margin-right: 2%;
  text-align: left;
}

/* line 315, ../sass/style.scss */
.about-me {
  padding: 5% 0;
  text-align: center;
  background-color: #EEF8FD;
}
/* line 320, ../sass/style.scss */
.about-me .avators li {
  display: inline-block;
  margin: 0 2%;
}
/* line 323, ../sass/style.scss */
.about-me .avators li img {
  border: 1px solid #ccc;
  height: 100px;
  width: 100px;
  border-radius: 57px;
  padding: 6px;
}
/* line 332, ../sass/style.scss */
.about-me .myself {
  width: 70%;
  margin: 20px auto;
}
/* line 335, ../sass/style.scss */
.about-me .myself h3 {
  margin: 5% 0 3% 0;
}
/* line 338, ../sass/style.scss */
.about-me .myself p {
  line-height: 2em;
}
/* line 342, ../sass/style.scss */
.about-me .contact-me img {
  width: 150px;
  border: 1px solid #ccc;
}
/* line 346, ../sass/style.scss */
.about-me .contact {
  display: inline-block;
  margin: 0 2%;
}
/* line 349, ../sass/style.scss */
.about-me .contact p {
  color: #555;
}

/* line 354, ../sass/style.scss */
footer {
  padding: 20px;
  color: #ccc;
  background-color: #333;
  text-align: center;
}

@media screen and (max-width: 800px) {
  /* line 361, ../sass/style.scss */
  .new-year .description,
  .new-year #new-year-slide {
    width: 100%;
  }

  /* line 365, ../sass/style.scss */
  .new-year .slidesjs-pagination {
    bottom: 35px;
  }
}
@media screen and (max-width: 600px) {
  /* line 370, ../sass/style.scss */
  h1 {
    font-size: 2.2em;
  }

  /* line 373, ../sass/style.scss */
  .brief-introduction {
    font-size: 12px;
  }

  /* line 376, ../sass/style.scss */
  .slidesjs-container {
    font-size: 12px;
  }

  /* line 379, ../sass/style.scss */
  .introduction .story {
    width: 100%;
    float: none;
    height: auto;
    padding-bottom: 30px;
  }

  /* line 385, ../sass/style.scss */
  .hero-img {
    background-size: cover;
    height: 300px;
  }

  /* line 389, ../sass/style.scss */
  .hero-img .hero-img-layer {
    height: 300px;
  }

  /* line 392, ../sass/style.scss */
  header {
    text-align: center;
  }

  /* line 395, ../sass/style.scss */
  header a.logo {
    width: 160px;
  }

  /* line 398, ../sass/style.scss */
  .hero-img .slogon {
    width: 100%;
    padding-top: 15%;
  }

  /* line 402, ../sass/style.scss */
  .hero-img .brief-introduction ul li {
    padding: 2% 3%;
  }

  /* line 405, ../sass/style.scss */
  #live-dance-show .slidesjs-navigation {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    top: 30%;
  }

  /* line 410, ../sass/style.scss */
  #live-dance-show .slidesjs-pagination {
    left: 30%;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  /* line 415, ../sass/style.scss */
  .about-me .myself {
    width: 100%;
  }

  /* line 418, ../sass/style.scss */
  h2 {
    padding-top: 40px;
  }
}
@media screen and (max-width: 500px) {
  /* line 423, ../sass/style.scss */
  .slidesjs-navigation {
    top: 20%;
  }

  /* line 427, ../sass/style.scss */
  #live-dance-show .slidesjs-pagination,
  .new-year .slidesjs-pagination {
    bottom: 5px;
    left: 0;
  }

  /* line 432, ../sass/style.scss */
  .new-year .slidesjs-pagination {
    bottom: 20px;
  }

  /* line 435, ../sass/style.scss */
  .each-news {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1300px) {
  /* line 442, ../sass/style.scss */
  .big-screen {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* line 447, ../sass/style.scss */
  .small-screen {
    display: none;
  }
}
